@import url("https://fonts.googleapis.com/css?family=Delius+Swash+Caps");

html, body, h1, h2, h3, h4, h5, h6 {
 font-family: 'Delius Swash Caps', cursive;
}

.container-fluid {
    padding-top: 60px;
    padding-bottom: 60px;
}

.left-pad {
    padding-left: 15px;
}

.bottom-pad{
    padding-bottom: 60px;
}

/*HEADER IMAGE TEXT OVERLAY*/
.text-overlay {
    position: relative;
    text-align: center;
    color: white;
}
.text-centered {
    font-size: 6vw;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-subhead {
    font-size: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*HOVER IMAGE STYLING*/
.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 2.5vw;
  padding: 16px 16px;
}

.bg-f {
    background-color: #80CED7;
}

/*BLOG HERO IMAGE - APPEARS IN READ.PHP BUT NOT WORKING*/

.blog-img {
    width: 100%;
    height: auto;
}


